USE [sample]
GO
/****** Object:  Table [dbo].[Tbl_BalloonDrawing]    Script Date: 09-04-2024 16:16:16 ******/
DROP TABLE [dbo].[Tbl_BalloonDrawing]
GO
/****** Object:  Table [dbo].[Tbl_BalloonDrawing]    Script Date: 09-04-2024 16:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_BalloonDrawing](
	[ProductionOrderNo] [varchar](150) NULL,
	[Drawing_No] [varchar](150) NULL,
	[DRevNo] [varchar](50) NULL,
	[PartNo] [varchar](150) NULL,
	[PRevNo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tbl_BalloonDrawing] ([ProductionOrderNo], [Drawing_No], [DRevNo], [PartNo], [PRevNo]) VALUES (N'123', N'212O52510', N'A', N'01', N'A')
INSERT [dbo].[Tbl_BalloonDrawing] ([ProductionOrderNo], [Drawing_No], [DRevNo], [PartNo], [PRevNo]) VALUES (N'12345', N'F02.01344', N'H', N'01', N'H')
INSERT [dbo].[Tbl_BalloonDrawing] ([ProductionOrderNo], [Drawing_No], [DRevNo], [PartNo], [PRevNo]) VALUES (N'1111', N'59vs11470072', N'a', N'01', N'a')
